<h2>
  <%= @todo_list.title %>
</h2>

<ul class='todo_items'>
  <% @todo_list.todo_items.each do |todo_item| %>
  <li id='<%= dom_id(todo_item) %>'>
    <% if todo_item.completed? %>
      <%= todo_item.completed_at %>
    <% else %>
      <%= link_to 'Mark complete', complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch %>
    <% end %>
    <%= todo_item.content %>
    <%= link_to 'Edit', edit_todo_list_todo_item_path(@todo_list, todo_item.id) %>
    <%= link_to 'Delete', todo_list_todo_item_path(@todo_list, todo_item.id),
      method: :delete, data: { confirm: 'Are you sure?'} %>
  </li>
  <% end %>
</ul>

<p>
  <%= link_to 'New Todo Item', new_todo_list_todo_item_path(@todo_list) %>
</p>
