<!DOCTYPE html>
<html>
<head>
<title>Odot</title>
<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>

<body>

  <% flash.each do |type, message| %>
    <div class='alert flash <%= type %>'>
      <%= message %>
    </div>
  <% end %>

  <div>
    <h1>
      <%= link_to 'Odot', root_path %>
    </h1>
    <ul class="nav">
      <li>
        <%= link_to 'Todo Lists', todo_lists_path %>
      </li>
    </ul>
  </div>

  <%= yield %>

</body>
</html>
